{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Todo app</title>
<link rel="stylesheet" type="text/css" href="{% static '/css/todo.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container text-center border border-info">
        <h1 class="border border-info p-5 m-5 text-center"> Todo App<h1>
            <div class="container text-center">
                <ul class="p-2 border border-warning list-group text-center">    
                        {% for todo_item in all_items %}
                            <li class="form-inline bg-light justify-content-between" id="liinput">
                            <div class="text-center">{{forloop.counter}} {{todo_item.date.day}} /{{todo_item.content}}</div> 
                            
                            <form action="/deleteTodo/{{todo_item.id}}/"
                                method="POST">{% csrf_token %}
                            <Button type="submit" id="inputdel" class="border border-warning">del</Button>
                            </form>
                            
                            </li>
                        {% endfor %}
                </ul>
                        <div class="container" style="max-width: 500px;">
                            <form action="/addTodo/" method="POST" class="text-center ">{% csrf_token %} 
                                <input type="text" name="content" class="form-control" placeholder="Note"/>
                                <Button type="submit" class="btn btn-info boder border-info">ADD</Button>
                            </form>
                        </div>
            </div>
    </div>
</body>
</html>



